<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{blocks/account/metaHead :: metaHead}" />

<body>

<!--<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">-->
<!--    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"-->
<!--            id="bd-theme"-->
<!--            type="button"-->
<!--            aria-expanded="false"-->
<!--            data-bs-toggle="dropdown"-->
<!--            aria-label="Toggle theme (auto)">-->
<!--        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>-->
<!--        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>-->
<!--    </button>-->
<!--    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">-->
<!--        <li>-->
<!--            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">-->
<!--                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>-->
<!--                Light-->
<!--                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>-->
<!--            </button>-->
<!--        </li>-->
<!--        <li>-->
<!--            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">-->
<!--                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>-->
<!--                Dark-->
<!--                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>-->
<!--            </button>-->
<!--        </li>-->
<!--        <li>-->
<!--            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">-->
<!--                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>-->
<!--                Auto-->
<!--                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>-->
<!--            </button>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<svg th:replace="~{blocks/account/images :: images}" />

<header th:replace="~{blocks/account/header :: header}" />

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">

            <div th:replace="~{blocks/account/sidebarMenu :: sidebarMenu}" />

        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="${h1}" />

<!--                <div class="btn-toolbar mb-2 mb-md-0">-->
<!--                    <div class="btn-group me-2">-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
<!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
<!--                    </div>-->
<!--                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">-->
<!--                        <svg class="bi"><use xlink:href="#calendar3"/></svg>-->
<!--                        This week-->
<!--                    </button>-->
<!--                </div>-->
            </div>

<!--            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->


<!--        <main>-->

            <h2 style="text-align: center">
                Выберите даты представления аналитики
            </h2>

            <form action="/my" method="get">

                <input th:required="required" type="date" name="dateFrom" placeholder="Выберите дату начала" th:value="${dateFrom}" id="dateFrom" class="form-control"/><br>
                <input th:required="required" type="date" name="dateTo" placeholder="Выберите дату завершения" th:value="${dateTo}" id="dateTo" class="form-control"/><br>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-success">Обновить данные</button>
                </div>
            </form>

            <div class="row">
                <div class="col">
                    <h3 style="text-align: center" th:each="userIncome : ${allUserIncome}">
                        <p th:text="'Доходы за указанный период: ' + ${#numbers.formatDecimal(userIncome, 1, 2)}" />
                    </h3>
                </div>
                <div class="col">
                    <h3 style="text-align: center" th:each="userExpense : ${allUserExpense}">
                        <p th:text="'Расходы за указанный период: ' + ${#numbers.formatDecimal(userExpense, 1, 2)}" />
                    </h3>
                </div>
            </div>

            <div th:replace="~{blocks/account/accounts :: accounts}" />

            <div th:replace="~{blocks/account/categories :: categories}" />

            <div th:replace="~{blocks/account/transactions :: transactions}" />

<!--        </main>-->

<!--            <h2>Section title</h2>-->
<!--            <div class="table-responsive small">-->
<!--                <table class="table table-striped table-sm">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col">#</th>-->
<!--                        <th scope="col">Header</th>-->
<!--                        <th scope="col">Header</th>-->
<!--                        <th scope="col">Header</th>-->
<!--                        <th scope="col">Header</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <td>1,001</td>-->
<!--                        <td>random</td>-->
<!--                        <td>data</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>text</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,002</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>irrelevant</td>-->
<!--                        <td>visual</td>-->
<!--                        <td>layout</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,003</td>-->
<!--                        <td>data</td>-->
<!--                        <td>rich</td>-->
<!--                        <td>dashboard</td>-->
<!--                        <td>tabular</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,003</td>-->
<!--                        <td>information</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>illustrative</td>-->
<!--                        <td>data</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,004</td>-->
<!--                        <td>text</td>-->
<!--                        <td>random</td>-->
<!--                        <td>layout</td>-->
<!--                        <td>dashboard</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,005</td>-->
<!--                        <td>dashboard</td>-->
<!--                        <td>irrelevant</td>-->
<!--                        <td>text</td>-->
<!--                        <td>placeholder</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,006</td>-->
<!--                        <td>dashboard</td>-->
<!--                        <td>illustrative</td>-->
<!--                        <td>rich</td>-->
<!--                        <td>data</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,007</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>tabular</td>-->
<!--                        <td>information</td>-->
<!--                        <td>irrelevant</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,008</td>-->
<!--                        <td>random</td>-->
<!--                        <td>data</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>text</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,009</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>irrelevant</td>-->
<!--                        <td>visual</td>-->
<!--                        <td>layout</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,010</td>-->
<!--                        <td>data</td>-->
<!--                        <td>rich</td>-->
<!--                        <td>dashboard</td>-->
<!--                        <td>tabular</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,011</td>-->
<!--                        <td>information</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>illustrative</td>-->
<!--                        <td>data</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,012</td>-->
<!--                        <td>text</td>-->
<!--                        <td>placeholder</td>-->
<!--                        <td>layout</td>-->
<!--                        <td>dashboard</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,013</td>-->
<!--                        <td>dashboard</td>-->
<!--                        <td>irrelevant</td>-->
<!--                        <td>text</td>-->
<!--                        <td>visual</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,014</td>-->
<!--                        <td>dashboard</td>-->
<!--                        <td>illustrative</td>-->
<!--                        <td>rich</td>-->
<!--                        <td>data</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>1,015</td>-->
<!--                        <td>random</td>-->
<!--                        <td>tabular</td>-->
<!--                        <td>information</td>-->
<!--                        <td>text</td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
        </main>
    </div>
</div>

<footer th:replace="~{blocks/account/footer :: footer}" />

</body>
</html>
