<div th:fragment="footer" class="row">
    <div class="col-12 col-md">
        <small class="d-block mb-3 text-body-secondary">© 2024</small>
    </div>
    <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="account-secondary text-decoration-none" href="#">Account</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="account-secondary text-decoration-none" href="#">Account</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="account-secondary text-decoration-none" href="#">Account</a></li>
        </ul>
    </div>
</div>