<div th:fragment="header" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="/" class="d-flex align-items-center account-body-emphasis text-decoration-none">
        <span class="fs-4">PersonalFinance.ru</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

        <p th:text="${username}" class="me-3 py-2 account-body-emphasis text-decoration-none" />

        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="Выйти"/>
        </form>
<!--        -->
<!--        <a th:case="''" href="/login" class="me-3 py-2 account-body-emphasis text-decoration-none">Войти</a>-->
<!--        <a th:case="null" href="/login" class="me-3 py-2 account-body-emphasis text-decoration-none">Войти</a>-->

<!--        <span th:case="*">-->
<!--            <a href="/logout" class="me-3 py-2 account-body-emphasis text-decoration-none">Выйти</a>-->
<!--            <p th:text="'Ваш UUID: ' + ${UUID}" class="me-3 py-2 account-body-emphasis text-decoration-none"></p>-->
<!--        </span>-->

<!--        <a class="me-3 py-2 account-body-emphasis text-decoration-none" href="/">Главная</a>-->
<!--        <a class="me-3 py-2 account-body-emphasis text-decoration-none" href="/account">Мои ссылки</a>-->
    </nav>
</div>