<div th:fragment="header" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="/" class="d-flex align-items-center account-body-emphasis text-decoration-none">
        <span class="fs-4">PersonalFinance.ru</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

        <p th:text="${username}" class="me-3 py-2 account-body-emphasis text-decoration-none" />

        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="Выйти"/>
        </form>

    </nav>
</div>