<div class="row" th:fragment="categories" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col">

        <h3 style="text-align: center">Все категории доходов</h3>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Название категории</th>
                        <th>Общая сумма доходов по категории</th>
                        <th>Действия</th>
                    </tr>
                </thead>

                <tbody>
                <tr th:each="userIncomeCategory : ${allUserIncomeCategories}">
                    <td th:text="${userIncomeCategory.title}" />
                    <td th:text="*{userIncomeCategory.allamount != null}? *{userIncomeCategory.allamount} : 0" />
                    </td>
                    <td>
                        <a th:href="'/category/' + ${userIncomeCategory.id} + '/edit'"><i class="far fa-edit"></i></a>
                        <a th:href="'/category/' + ${userIncomeCategory.id} + '/delete'"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col">
        <h3 style="text-align: center">Все категории расходов</h3>

        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Название категории</th>
                        <th>Общая сумма расходов по категории</th>
                        <th>Действия</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="userExpenseCategory : ${allUserExpensesCategories}">
                        <td th:text="${userExpenseCategory.title}" />
                        <td th:text="*{userExpenseCategory.allamount != null}? *{userExpenseCategory.allamount} : 0" />
                        <td>
                            <a th:href="'/category/' + ${userExpenseCategory.id} + '/edit'"><i class="far fa-edit"></i></a>
                            <a th:href="'/category/' + ${userExpenseCategory.id} + '/delete'"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{blocks/account/category-add :: category-add}" />

</div>
