<div th:fragment="category-income-add" xmlns:th="http://www.w3.org/1999/xhtml">
    <h4 style="text-align: center">Добавить категорию доходов</h4>
    <form action="/category/add" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <input th:required="required" type="text" name="title" placeholder="Введите название категории (зарплата, вклад, инвестиции)" class="form-control"><br>

        <input th:required="required" type="number" min="0.01" step="0.01" name="budget" placeholder="Введите планируемый бюджет дохода" class="form-control"><br>

        <!-- todo сделать константу -->
        <input type="hidden" id="typeId" name="typeId" value="1" /><br>

        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Добавить категорию доходов</button>
        </div>
    </form>
</div>